/*
    Color Theme

#EEEEEE

#19CC8B
#15ad76

#626975
#515866
#414345
#2A2D33

*/
:root {
    /*White color*/
    --color-white: #EEEEEE;

    /*Green color*/
    --color-green: #19CC8B;
    --color-green-2: #15AD76;
    --color-green-hover: var(--color-green-2);

    /*Black color*/
    --color-black: #626975;
    --color-black-2: #515866;
    --color-black-3: #414345;
    --color-black-4: #2A2D33;
}

.content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}