/*
    Color Theme

#EEEEEE

#19CC8B
#15ad76

#626975
#515866
#414345
#2A2D33

*/
/*font family*/
@font-face {
    font-family: fontNumber;
    src: url(Library/font/SquadaOne-Regular.ttf);
}

:root {
    --color-text: #202124;
    --color-text-2: #5f6368;
    --color-text-hr: #1a73e8;

    /*White color*/
    --color-white: #EEEEEE;

    /*Green color*/
    --color-green: #19CC8B;
    --color-green-2: #15AD76;
    --color-green-hover: var(--color-green-2);

    /*Black color*/
    --color-black: #626975;
    --color-black-2: #515866;
    --color-black-3: #414345;
    --color-black-4: #2A2D33;

    /*Box shadow types*/
    --box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --box-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --box-shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    --box-shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    --box-shadow-5: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    --box-shadow-gg: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);

    /*Font family google*/
    --font-family-gg: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

    /*Font gg*/
    --font-gg-h1: 400 15px/20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.content-left {
    display: flex;
    justify-content: left;
}

.content-center {
    display: flex;
    justify-content: center;
}

.content-right {
    display: flex;
    justify-content: right;
}

.content-item-center {
    align-items: center;
}

.tagMenu {
    margin: 20px 0 0 0;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 25;
}

.tagMenu > .tagMenu-content {
    max-width: 280px;
    width: 280px;
}

.tagMenu > .tagMenu-content > div > a {
    color: #3c4043;
    letter-spacing: .01785714em;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 16px 10px 25px;
    border-radius: 0 50px 50px 0;
    display: block;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tagMenu > .tagMenu-content > div > a:hover {
    background-color: rgba(0, 0, 0, 0.039);
    transition: background 15ms;
}

.tagMenu > .tagMenu-content > div > a:focus {
    background-color: rgba(0, 0, 0, 0.122);
    transition: background 75ms;
}

.tagMenu > .tagMenu-content > div > a > i {
    font-size: 18px;
    margin-right: 16px;
    text-align: center;
    width: 30px;
}

.tagMenu > .tagMenu-content > div.accept > a {
    background: #e8f0fe;
    color: #1a73e8;
    text-decoration: none;
}

#title {
    padding: 24px 0 0 0;
    cursor: default;
}

#title > i {
    width: 96px;
    height: 96px;
    background-color: #e8f0fe;
    color: #1a73e8;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 100%;
}

#title > h1 {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    font-size: 28px;
    font-weight: 400;
    margin: 19px 0;
}

#title > div {
    display: flex;
    justify-content: center;
    color: var(--color-text-2);
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.btnGG {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 0 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btnGG:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.btnGG:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.scrollbarGG::-webkit-scrollbar {
    width: 8px;
}

.scrollbarGG::-webkit-scrollbar-track {

}

.scrollbarGG::-webkit-scrollbar-thumb {
    background-color: #DADCE0;
    border-radius: 8px;
}

.scrollbarGG::-webkit-scrollbar-thumb:hover {
    background-color: #b2b3b6;
}

div#message {
    position: fixed;
    bottom: 0;
    left: 30px;
    z-index: 200;
    width: 450px;
}

div#message > div.data-messPing {
    background-color: #323232;
    margin: 26px 0;
    padding: 30px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 6px;
    animation: animateleft 0.2s;
    transition: opacity 0.2s;
}

div#message > div.data-messPing > label {
    color: white;
    width: 100%;
    display: inline-flex;
}

div#message > div.data-messPing > i.close {
    color: rgba(255, 255, 255, 0.3);
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 30px;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    transition: .2s;
}

div#message > div.data-messPing > i.close:hover {
    color: rgba(255, 255, 255, 1);
}